@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
body{
    
    font-family: 'Poppins', sans-serif;
}
#top-bar{
    display:flex;align-items: center;
   
}
#Stunning{
     width:130px; height:50px;
     text-align: left;
}
#home{
   color:black;
   border-bottom: 3px solid blueviolet;
}
#menu-items{
    color:#C9C8C6; text-align:right;
    width:600px;
    margin-left:350px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
#your-buttn{
    width:600px;
    text-align:right;
}
#top-buttn,#bottom-buttn{
    border:none;
    padding:8px;
    border-radius:17px;
    background-color: #FFD8DB;
    color:#7E6BC6;
    font-weight: 600;
    height:50px;width:140px;
}
#section{
    margin:50px 60px 0px 60px;
    display: flex;
    justify-content: space-between;
}
#about{
    margin-left: 130px;
}
h1{
    font-size: 70px;
}
p{
   margin-bottom: 50px;
    color: grey;
}
#arrows{
      margin-bottom: 100px;
      width:300px;
      display: flex;
      align-items: center;
     justify-content: space-between;
}
#bottom-buttn{
    background-color: #5243C0;
    color:white;
    margin:0;
}
.features{
    margin-left: 20px;
    padding-right: 20px;
    width:450px;height:70px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(#FFFFFF, #eeebeb);
}
#third{
     background-image: linear-gradient(#E8E8E8, #FAFAFA);
}

.click{
    border-radius: 5px;
    border: none;
    width:19px;
    height: 7px;
}
.firstthrw{
    width:200px;
    margin:0px 10px 0px 25px;
}
#secndrw{
     padding:0px 58px 0px 25px;
}
h4{
    margin:0px 30px 0px 30px;
    text-align: left;
    color:grey;
}